/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

h1 {
	text-align: center;
}

.tym {
	text-align: center;
}

.osoba {
	max-width: 100%;
	border-radius: 15px;
	border: 1px solid grey;
	display: flex;
	flex-direction: column;
	margin: 10px;
}

img {
	max-width: 100%;
	border-radius: 50%;
}

.foto {
	margin: 1%;
}

@media (min-width: 540px) {
    .tym {
		display: flex;
		flex-wrap: wrap; 
		flex-direction: row;
}
	.osoba {
		display: flex;
		width: 46%;
	}
}

@media (min-width: 960px) {
    .tym {
		display: flex;
		flex-wrap: wrap; 
		justify-content: center;
}

	.osoba {
		display: flex;
		width: 20%;
	}
}
